/build/
/cmake-build-*/
/out/
/.cache/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json
/CTestTestfile.cmake
/Testing/
/install_manifest.txt
/CMakeUserPresets.json

/.idea/
/.vscode/
.DS_Store
*.swp
*.swo
*.user
*.suo
